<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916776825980-pqtrrapcli6q360s1v51pm0msbtrtcn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916776825980-pqtrrapcli6q360s1v51pm0msbtrtcn8</string>
	<key>API_KEY</key>
	<string>AIzaSyDALaAunu4Ke8fLC8ooCQmsUUckD58geSU</string>
	<key>GCM_SENDER_ID</key>
	<string>916776825980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jay.stopIt</string>
	<key>PROJECT_ID</key>
	<string>front-9d303</string>
	<key>STORAGE_BUCKET</key>
	<string>front-9d303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916776825980:ios:1b711f825a6341c3adc5f9</string>
	<key>DATABASE_URL</key>
	<string>https://front-9d303-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>